<h1>CREATE YOUR LOG IN</h1>

<form action="/profile" method="post">

  <label for="username">Create username:</label>
  <input type="text" name="username">

  <label for="password">Create password:</label>
  <input type="text" name="password">

  <button type="submit">Create Account</button>
</form>

<hr>

<h2>Log in page</h2>
<a href="/login">Log in page</a>
