<% if @videogames.any?() %>
    <ul>
    <% @videogames.each() do |videogame| %>
      <li><a href="/profile/<%= @profile.id()%>/videogames/<%= videogame.id() %>"><%= videogame.game_name()%></a></li>
    <% end %>
    </ul>

<% else %>
    <h5>There are no videogames in the database.</h5>
<% end %>

<a href="/profile/<%= @profile.id()%>">Back to your profile</a>
